@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");

:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: Mooli, sans-serif;
}

body, h1, h2, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-size: 1.2em;
}

a:link,
a:visited {
  color: var(--accent-color);
}

body {
  font-family: var(--primary-font);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin-bottom: 0.5rem;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 1rem;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 2rem;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.gallery img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 2px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}


@media (max-width: 1000px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 700px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
